@font-face {
    font-family: 'ABSTER';
    src: url(Fonts/ABSTER.otf);
}

* {
    margin: 0px;
}

body {
    height: 100vh;
    /* margin: 0;
     */
    font-family: sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    background-repeat: no-repeat    
}

.card{
    margin-bottom:20px;
    border:none;
}

.box {
    width: 500px;
    padding: 40px;
    position: flex;
    top: 10%;
    left: 35%;
    border-radius: 24px;
    background: #191919;
    text-align: center;
    color: #726d6d;
    transition: 0.25s
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}


.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #1b2f88
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #1b2f88
}

    .forgot {
            color: #726d6d;
            transition: 0.25s;
            color:white;
            cursor: pointer
    }

.Logo h1 {
    padding: 10px 0px 0px 10px;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px rgb(15, 23, 141);
    font-family: 'ABSTER';
    
}


*.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height:550px;
}